@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f0f0f0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

select {
  appearance: none;
}

sup {
  font-size: small;
  vertical-align: top;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b5b5b5;
}

/*------------------------------------*\
#COMMON COMPONENT
\*------------------------------------*/

.background-primary {
  background-color: #f6f8fa;
}

.background-secondary {
  background-color: #f5a623;
}

.display-absolute {
  position: absolute;
}

.display-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input {
  border: 0;
  border-radius: 3px;
}

.text-primary {
  color: #0f4555;
}

.text-secondary {
  color: #f5a623;
}

.text-capitalize {
  text-transform: capitalize;
}

.btn {
  border-radius: 3px;
  border: 2px #e9eaea;
  color: #0f4555;
  cursor: pointer;
}

.btn-primary {
  color: #f5a623;
  background: #fff;
}

.btn-secondary {
  background-color: #f5a623;
  color: #fff;
}

.title {
  size: 14px;
  text-transform: uppercase;
}

.underline {
  color: #f5a623;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  width: 32px;
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/

.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 135px;
  margin: 18px 30px;
  width: 96.8%;
  position: absolute;
  z-index: 1;
}

/*------------------------------------*\
  #LOGO
\*------------------------------------*/

.logo {
  float: left;
  height: 80px;
  width: 80px;
}

/*------------------------------------*\
  #NAV BAR
\*------------------------------------*/

.nav li {
  display: inline-block;
  text-transform: capitalize;
}

.nav-bar__list li {
  text-transform: uppercase;
}

.nav-bar__link {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  padding: 20px 40px;
}

.nav-bar__divider {
  width: 2px;
  height: 10px;
  background-color: white;
  display: inline-block;
}

.page-content {
  width: 100%;
  height: auto;
  position: absolute;
}

.container {
  margin: 0 7.5%;
  height: 100%;
}

/*------------------------------------*\
  #INTRO AREA
\*------------------------------------*/

.intro {
  background: #fff url(../assets/images/001bg-1.png) no-repeat center center;
  background-size: cover;
  height: 55em;
  padding-top: 5em;
}

.intro__content {
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}

.intro__title > h1 {
  font-size: 600%;
  font-weight: normal;
  margin-bottom: 10px;
}

.intro__title > h2 {
  font-size: 300%;
  font-weight: normal;
}

.intro__btn {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #cbcbcb;
  border-radius: 5px;
  color: #cbcbcb;
  font-size: 18px;
  height: 4em;
  width: 31.2%;
}

/*------------------------------------*\
  #FILTER
\*------------------------------------*/

.filter-area {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  justify-content: space-evenly;
  height: 12em;
  flex-direction: column;
  width: 100%;
}

.filter-area__text {
  height: 40%;
  width: 97%;
  text-indent: 30px;
  font-size: 15px;
  padding: 0;
}

.filter-area__select {
  height: 40%;
  justify-content: space-between;
  width: 97%;
}

.filter-area__select select {
  color: #b5b5b5;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-indent: 30px;
}

.filter-area__select .btn {
  height: 100%;
  font-size: 18px;
  width: 32.3%;
}

.filter-area__select-item {
  height: 100%;
  width: 32.3%;
  color: #b5b5b5;
}

.filter-area__select span {
  margin-top: 35px;
  margin-left: -30px;
}

/*------------------------------------*\
#NAV IN POST AREA
\*------------------------------------*/

.secondary-nav li {
  padding-right: 27px;
}

.secondary-nav__link {
  color: #aaaeb2;
  font-size: 15px;
  padding-bottom: 11px;
}

.active {
  border-bottom: 2px solid #f5a623;
  color: #0f4555;
}

.post__nav {
  padding: 70px 0;
}

.post__item {
  height: auto;
  justify-content: space-between;
  width: 100%;
}

/*------------------------------------*\
#BUTTON IN POST AREA
\*------------------------------------*/

.post__btn {
  height: 160px;
  width: 100%;
}

.post__btn > button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e9eaea;
  font-size: 15px;
  height: 50px;
  width: 188px;
}

/*------------------------------------*\
#CARD IN POST AREA
\*------------------------------------*/

.card {
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.card-title {
  color: #0f4555;
  font-style: normal;
  font-size: 20px;
  padding-top: 5px;
}

.card-subtitle {
  color: #9b9da0;
  font-size: 12px;

  text-transform: uppercase;
}

.card__value {
  padding-top: 7px;
  font-size: 18px;
}

.card__body-top {
  border-bottom: 1px solid #f6f8fa;
  height: 3em;
  width: 100%;
}

.card__body-content {
  margin: 20px;
}

.card__body-bottom {
  height: 4em;
}

.card__body-info {
  flex-direction: column;
  width: 33.3%;
  height: 100%;
}

.benefit {
  height: 510px;
}

/*------------------------------------*\
#BENEFIT AREA
\*------------------------------------*/

.benefit > .container {
  justify-content: space-around;
  height: 100%;
}

.benefit__item {
  height: 100%;
  width: 300px;
}

.benefit__item-algin {
  height: 37%;
}

.benefit__content {
  color: #0f4555;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}
.benefit__title {
  font-size: 20px;
}

.benefit__subtitle {
  font-size: 14px;
}

/*------------------------------------*\
# ---COMMENT AREA---
\*------------------------------------*/

.comment-area {
  background-color: white;
  height: 560px;
  width: 100%;
}

.comment-area__align {
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}

/*------------------------------------*\
#TITLE IN COMMENT AREA
\*------------------------------------*/

.comment-area__title {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
}

/*------------------------------------*\
#QUOTE IN COMMENT AREA
\*------------------------------------*/

.comment-area__content {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.comment-area__content > img {
  width: 53px;
  height: 45.5px;
}

.comment-area__content > p {
  font-size: 28px;
  padding-left: 40px;
  padding-top: 15px;
  line-height: 35px;
}

/*------------------------------------*\
#USERS IN COMMENT AREA
\*------------------------------------*/

.comment-area__list-users {
  width: 100%;
  justify-content: space-evenly;
}

.comment-area__user {
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.comment-area__user:hover {
  cursor: pointer;
  transition: 0.25s;
  visibility: visible;
}

.comment-area__user:hover .comment-area__user-img {
  filter: none;
  height: 90px;
  width: 90px;
  transition: 0.5s;
}

.comment-area__user-img {
  filter: grayscale(100%);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  visibility: visible;
  opacity: 1;
}

.comment-area__user-name {
  font-size: 12px;
  text-transform: uppercase;
}

.comment-area__user-role {
  font-size: 18px;
}

.active--user {
  visibility: visible;
}

.active--user > .comment-area__user-img {
  height: 90px;
  width: 90px;
  filter: none;
}
