.image {
  height: auto;
  max-width: 100%;
}

/* - Logo */
/* - ---------------------------------------------- */
.image-logo {
  background-repeat: no-repeat;
  width: 6.25rem;
  text-indent: -9999px;
}

/* - Icon */
/* - ---------------------------------------------- */
.image-icon {
  display: block;
  background-repeat: no-repeat;
  width: 2.25rem;
  cursor: pointer;
}

.icon-left {
  position: absolute;
  right: 1.5rem;
}

.close-icon {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

/* - Card image */
/* - ---------------------------------------------- */
.card-image {
  border-radius: 5px;
  object-fit: contain;
  overflow: hidden;
  height: 18rem;
}

.image-error {
  line-height: 1.5rem;
}
