/*------------------------------------*\
  >=TABLET
\*------------------------------------*/
@media (min-width: 740px) {
  /* MAIN HEADER */
  .main-header {
    padding: 0.9375rem 1.875rem;
  }

  .logo-link {
    width: 14.125rem;
    height: 1.875rem;
  }

  .app-nav {
    width: auto;
    margin: 0;
  }

  .nav-list {
    font-size: 1.125rem;
  }

  .nav-list__item {
    margin-right: 3.125rem;
  }

  .btn__text-start {
    padding: 0.8125rem 2rem;
    font-size: 1.125rem;
  }

  .btn__text-start::after {
    content: "Start Your Agility Experience";
  }

  /* SECTION GAME INTRO */
  .intro-banner__slogan {
    font-size: 3rem;
  }

  .intro-banner__play-icon {
    font-size: 5rem;
    margin-top: 5rem;
  }

  .intro-banner__play-icon:hover {
    opacity: 0.6;
  }

  .game-intro__btn {
    display: block;
  }
  /* SECTION GAME-PRODUCTS */
  .game-product {
    height: 35vw;
  }

  .game-product__content {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: flex-start;
    padding: 2.5rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .game-product__body:hover .game-product__content {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
  }

  .game-product__title {
    color: rgb(31, 51, 64);

    font-size: 1.125rem;
  }

  .game-product__subtitle {
    color: rgb(172, 182, 189);

    margin-top: 0.8125rem;
  }

  .game-product__excerpt {
    color: rgb(31, 51, 64);
    display: block;
    margin-top: 1.75rem;
    font-size: 0.875rem;
  }

  .game-product__more {
    color: var(--red-color);
    display: block;
    margin-top: 1.5rem;
    text-transform: capitalize;
  }

  /* SECTION GAME SERVICE */
  .game-services {
    padding: 4.375rem 0px;
  }

  .service-intro__header {
    width: 11.25rem;
    font-size: 2.25rem;
  }

  .services-intro {
    padding: 0px 4.375rem 0px 6.25rem;
  }

  .service-intro__desc {
    font-size: 1rem;
    margin-top: 1.5625rem;
  }

  .service-item {
    padding-right: 4.375rem;
  }

  .service-item__image {
    width: 50px;
    height: 50px;
  }

  .service-item__name {
    font-size: 1.5rem;
    margin-left: 1.25rem;
  }

  .service-item__desc {
    margin-left: 4.375rem;
  }

  /* SECTION ABOUT-US */

  .about-us__header {
    height: 34.6875rem;
  }

  .about-us__header-item {
    height: 100%;
  }

  .about-us__body {
    padding: 0.15625rem;
  }

  .about-us__body-item {
    font-size: 1.125rem;
    padding: 0px 3.4375rem;
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
    overflow: auto;
  }

  .about-us__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.875rem;
    font-family: HeliveticaNeue;
    line-height: 2.375rem;
    height: 100%;
    text-transform: capitalize;
    text-align: right;
  }

  .about-us__title span {
    text-transform: uppercase;
  }

  .about-us__title :last-child {
    font-family: HeliveticaNeueBold;
    font-size: 2.9375rem;
  }

  .process-image {
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
  }

  .process-image img {
    padding: 0;
  }

  .about-us__item {
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
  }

  .img-item {
    transform: none;
    margin-right: 1.25rem;
  }

  .about-us__label {
    font-size: 3rem;
  }

  .about-us__info {
    font-size: 1.4375rem;
  }

  .about-us__btn {
    border: 0.15625rem solid var(--white-color);
    font-size: 1.5rem;
    height: 13.75rem;
  }

  /* MAIN FOOTER */
  .socials {
    font-size: 0.5rem;
  }

  .address {
    padding-left: 2.1875rem;
  }

  .social-item {
    width: 4.375rem;
    height: 4.375rem;
  }

  .main-footer {
    flex-direction: row;
  }

  /* TESTIMONIALS SECTION */
  .testimonials-slider {
    padding: 4.5rem 0px;
  }

  .testimonials-header {
    font-size: 3.5rem;
  }

  .testimonials-content {
    width: 75%;
  }

  .testimonial__desc {
    line-height: 2.2rem;
    font-size: 1.75rem;
    margin-bottom: 1.625rem;
  }

  .testimonial__ref {
    font-size: 1.3rem;
  }

  .arrow-left,
  .arrow-right {
    width: 2.8125rem;
    height: 2.8125rem;
  }

  .indicator {
    margin-top: 2rem;
  }

  /* SECTION GAME FEEDBACK */
  .game-feedback {
    padding: 4.2rem 0;
    margin-top: 0.3125rem;
  }

  .game-feedback__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .game-feedback__header {
    display: block;
    font-size: 1.63rem;
    margin-bottom: 1.7rem;
  }

  .game-feedback__btn {
    border: 0.125rem solid var(--white-color);
    width: auto;
    font-size: 1.1rem;
    font-weight: inherit;
    padding: 1.625rem 1.82rem;
  }
}

/*------------------------------------*\
  >=DESKTOP
\*------------------------------------*/
@media (min-width: 1024px) {
  .game-product {
    height: 20vw;
  }
}
