/*------------------------------------*\
  COMMON BUTTON CSS
\*------------------------------------*/
.btn {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.125rem;
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* type of btn */
.btn--primary {
  background-color: var(--dark-blue-color);
}

.btn--secondary {
  background: var(--red-color);
}

.btn--outlined {
  background-color: rgba(0, 0, 0, 0);
  border: 0.125rem solid var(--white-color);
}

/*------------------------------------*\
  APP-BAR
\*------------------------------------*/
.main-header {
  align-items: center;
  display: flex;
  padding: 0.625rem 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-link {
  width: 14.125rem;
  height: 1.875rem;
}

.logo {
  max-width: 100%;
}

.app-nav {
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 0.9375rem;
  justify-content: space-between;
}

.nav-list {
  font-size: 1rem;
}

.nav-list__item {
  display: inline;
  margin-right: 1.25rem;
}

.nav-list__item .nav-list__item--active,
.nav-list__link:hover {
  color: var(--red-color);
}

.nav-list__link {
  color: #00000c;
  text-transform: capitalize;
  text-decoration: none;
}

.btn__text-start::after {
  content: "Get Started";
}

.btn__text-start {
  font-size: 0.875rem;
  padding: 0.6875rem 0.8125rem;
}

/*------------------------------------*\
  MAIN FOOTER
\*------------------------------------*/

.main-footer {
  background-color: var(--dark-gray-color);
  color: var(--gray-color);
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.875rem;
  justify-content: space-between;
}

.address {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 2.5;
  padding: 0 0.625rem;
  text-align: center;
}

.socials {
  display: flex;
}

.social-item {
  display: inline-block;
  height: 2.5rem;
  width: 20%;
}

.social-item a {
  align-items: center;
  color: var(--white-color);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.social-item__facebook {
  background-color: #1877f2;
}

.social-item__twitter {
  background-color: var(--blue-color);
}

.social-item__instagram {
  background-color: #e4405f;
}

.social-item__email {
  background-color: var(--violet-color);
}

.social-item__goodfilms {
  background: #1f1f1f url(../assets/images/goodfilms.png) no-repeat center
    center;
  background-size: contain;
}

/*------------------------------------*\
 SECTION GAME INTRO
\*------------------------------------*/
.game-intro {
  position: relative;
  width: 100%;
  height: 55vw;
}

.intro-banner {
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-banner__slogan {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}

.intro-banner__play-icon {
  font-size: 2.25rem;
  margin-top: 1.8125rem;
  cursor: pointer;
}

.intro-thumbnail {
  height: 100%;
}

.intro-thumbnail__img {
  width: 100%;
  height: 100%;
}

GAME-PRODUCTS \*------------------------------------*/ .game-product {
  height: 65vw;
}

.game-product__body {
}

.game-product__img {
  width: 100%;
  height: 100%;
}
/*------------------------------------*\
  >=TABLET
\*------------------------------------*/
@media (min-width: 740px) {
  /* MAIN HEADER */
  .main-header {
    padding: 0.9375rem 1.875rem;
  }

  .logo-link {
    width: 14.125rem;
    height: 1.875rem;
  }

  .app-nav {
    width: auto;
    margin: 0;
  }

  .nav-list {
    font-size: 1.125rem;
  }

  .nav-list__item {
    margin-right: 3.125rem;
  }

  .btn__text-start {
    padding: 0.8125rem 2rem;
    font-size: 1.125rem;
  }

  .btn__text-start::after {
    content: "Start Your Agility Experience";
  }

  /* SECTION GAME INTRO */
  .intro-banner__slogan {
    font-size: 3rem;
  }

  .intro-banner__play-icon {
    font-size: 5rem;
    margin-top: 5rem;
  }

  .intro-banner__play-icon:hover {
    opacity: 0.6;
  }
  /* SECTION GAME-PRODUCTS */

  .game-product {
    height: 35vw;
  }

  /* MAIN FOOTER */

  .address {
    padding-left: 2.1875rem;
  }

  .social-item {
    width: 4.375rem;
    height: 4.375rem;
  }

  .main-footer {
    flex-direction: row;
  }
}

/*------------------------------------*\
  >=DESKTOP
\*------------------------------------*/
@media (min-width: 1024px) {
  .game-product {
    height: 20vw;
  }
}
