/*------------------------------------*\
  COMMON BUTTON CSS
\*------------------------------------*/
.btn {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.125rem;
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* type of btn */
.btn--primary {
  background-color: var(--dark-blue-color);
}

.btn--secondary {
  background: var(--red-color);
}

.btn--outlined {
  background-color: rgba(0, 0, 0, 0);
  border: 0.125rem solid var(--white-color);
}

/*------------------------------------*\
  APP-BAR
\*------------------------------------*/
.main-header {
  align-items: center;
  display: flex;
  padding: 0.625rem 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-link {
  width: 14.125rem;
  height: 1.875rem;
}

.logo {
  max-width: 100%;
}

.app-nav {
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 0.9375rem;
  justify-content: space-between;
}

.nav-list {
  font-size: 1rem;
}

.nav-list__item {
  display: inline;
  margin-right: 1.25rem;
}

.nav-list__item .nav-list__item--active,
.nav-list__link:hover {
  color: var(--red-color);
}

.nav-list__link {
  color: #00000c;
  text-transform: capitalize;
  text-decoration: none;
}

.btn__text-start::after {
  content: "Get Started";
}

.btn__text-start {
  font-size: 0.875rem;
  padding: 0.6875rem 0.8125rem;
}

/*------------------------------------*\
  APP-BAR for Tablet Desktop
\*------------------------------------*/
@media (min-width: 740px) {
  .main-header {
    padding: 0.9375rem 1.875rem;
  }

  .logo-link {
    width: 14.125rem;
    height: 1.875rem;
  }

  .app-nav {
    width: auto;
    margin: 0;
  }

  .nav-list {
    font-size: 1.125rem;
  }

  .nav-list__item {
    margin-right: 3.125rem;
  }

  .btn__text-start {
    padding: 0.8125rem 2rem;
    font-size: 1.125rem;
  }

  .btn__text-start::after {
    content: "Start Your Agility Experience";
  }
}
