/*------------------------------------*\
  COMMON BUTTON CSS
\*------------------------------------*/
.btn {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.125rem;
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* type of btn */
.btn--primary {
  background-color: var(--dark-blue-color);
}

.btn--secondary {
  background: var(--red-color);
}

.btn--outlined {
  background-color: rgba(0, 0, 0, 0);
  border: 0.125rem solid var(--white-color);
}

/*------------------------------------*\
  APP-BAR
\*------------------------------------*/
.main-header {
  align-items: center;
  display: flex;
  padding: 0.625rem 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-link {
  width: 14.125rem;
  height: 1.875rem;
}

.logo {
  max-width: 100%;
}

.app-nav {
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 0.9375rem;
  justify-content: space-between;
}

.nav-list {
  font-size: 1rem;
}

.nav-list__item {
  display: inline;
  margin-right: 1.25rem;
}

.nav-list__item .nav-list__item--active,
.nav-list__link:hover {
  color: var(--red-color);
}

.nav-list__link {
  color: #00000c;
  text-transform: capitalize;
  text-decoration: none;
}

.btn__text-start::after {
  content: "Get Started";
}

.btn__text-start {
  font-size: 0.875rem;
  padding: 0.6875rem 0.8125rem;
}

/*------------------------------------*\
  MAIN FOOTER
\*------------------------------------*/
.main-footer {
  background-color: var(--dark-gray-color);
  color: var(--gray-color);
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.875rem;
  justify-content: space-between;
}

.address {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 2.5;
  padding: 0 0.625rem;
  text-align: center;
}

.socials {
  display: flex;
  font-size: 0.25rem;
}

.social-item {
  display: inline-block;
  height: 2.5rem;
  width: 20%;
}

.social-item:hover {
  opacity: 0.8;
}

.social-item a {
  align-items: center;
  color: var(--white-color);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.social-item__facebook {
  background-color: #1877f2;
}

.social-item__twitter {
  background-color: var(--blue-color);
}

.social-item__linkedin {
  background-color: #0a66c2;
}

.social-item__email {
  background-color: var(--violet-color);
}

.social-item__goodfilms {
  background: #1f1f1f url(../assets/images/goodfilms.png) no-repeat center
    center;
  background-size: contain;
}

/*------------------------------------*\
 SECTION GAME INTRO
\*------------------------------------*/
.game-intro {
  position: relative;
  width: 100%;
  height: 55vw;
}

.intro-banner {
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-banner__slogan {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}

.intro-banner__play-icon {
  font-size: 2.25rem;
  margin-top: 1.8125rem;
  cursor: pointer;
}

.intro-thumbnail {
  height: 100%;
}

.intro-thumbnail__img {
  width: 100%;
  height: 100%;
}

/* GAME-PRODUCTS  */

.game-product {
  height: 65vw;
}

.game-products__title {
  display: none;
}

.game-product__img {
  width: 100%;
  height: 100%;
}

.game-product__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.game-product__content {
  align-items: flex-end;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  height: 100%;
  left: 0;
  width: 100%;
  top: 0;
  padding: 0 1rem 0.5rem 1rem;
  position: absolute;
}

.game-product__title {
  font-size: 1rem;
  text-transform: capitalize;
}

.game-product__subtitle {
  font-size: 0.875rem;
  text-transform: capitalize;
}

.game-product__excerpt {
  display: none;
}

.game-product__more {
  display: none;
}

/*------------------------------------*\
  SECTION GAME SERVICES
\*------------------------------------*/
.game-services {
  color: var(--white-color);
  background-color: var(--dark-blue-color);
  line-height: 1.56;
  padding: 1.875rem 1.5625rem;
}

.service-intro__header {
  font-size: 1.5rem;
  line-height: 1.1;
  text-transform: capitalize;
}

.service-intro__desc {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.service-item__image {
  width: 30px;
  height: 30px;
}

.service-item__header {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  line-height: 1.1;
}

.service-item__name {
  font-size: 1rem;
  margin-left: 0.625rem;
  text-transform: capitalize;
}

.service-item__desc {
  margin-top: 0.3125rem;
  font-size: 0.875rem;
}

/*------------------------------------*\
  SECTION GAME SERVICES
\*------------------------------------*/
.testimonials-slider {
  background: var(--dark-blue-color);
  padding: 2rem 0px;
}

.testimonials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

.testimonial-header {
  margin-bottom: 2rem;
}

.testimonial-header__text {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.testimonial {
  width: 85%;
  text-align: center;
}

.testimonial__desc {
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 1.4rem;
}

.testimonial__ref {
  color: #bcc3cc;
  font-size: 1rem;
}

.arrow-left,
.arrow-right {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transform: rotate(-45deg) skew(-13deg, -13deg);
}

.arrow-left {
  border-top: 0.25rem solid rgb(174, 174, 174);
  border-left: 0.25rem solid rgb(174, 174, 174);
  margin-left: 3%;
}

.arrow-right {
  border-bottom: 0.25rem solid rgb(174, 174, 174);
  border-right: 0.25rem solid rgb(174, 174, 174);
  margin-right: 3%;
}

.indicator {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.circle {
  padding: 0.25rem;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}

.circle + .circle {
  margin-left: 0.5rem;
}

.circle--contained {
  background-color: var(--white-color);
}

/*------------------------------------*\
  SECTION GAME FEEDBACK
\*------------------------------------*/
.game-feedback {
  background: var(--blue-color);
  color: white;
}

.game-feedback__header {
  display: none;
}

.game-feedback__btn {
  border: none;
  width: 100%;
  font-size: 0.875rem;
  font-weight: inherit;
  padding: 1.3rem 0;
}
/*------------------------------------*\
  SECTION ABOUT US
\*------------------------------------*/

.about-us {
  background-color: var(--white-color);
  color: var(--dark-gray-color);
}

.image-contain {
  height: 100%;
}

.about-us__header-item {
  align-items: center;
  background-color: var(--red-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
}

.about-us__title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 1.875rem 1.563rem;
}

.about-us__main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__body-item {
  align-items: center;
  background-color: var(--gray-color);
  display: flex;
  font-size: 0.875rem;
  padding: 1.25rem 1.5625rem;
  line-height: 1.428;
}

.process-image {
  background-color: var(--white-color);
  width: 50%;
  height: 30vw;
}

.process-image > img {
  padding: 0.05rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__items {
  height: 100%;
}

.about-us__item {
  background-color: var(--gray-color);
  border: 0.0625rem solid var(--white-color);
  display: flex;
  height: 7.5rem;
  justify-content: center;
  align-items: center;
}

.img-item {
  height: 5.375rem;
  width: 4.625rem;
  transform: scale(0.5);
}

.about-us__label {
  color: var(--red-color);
  font-size: 1.75rem;
  margin-bottom: 0.3125rem;
}

.about-us__info {
  color: var(--dark-gray-color);
  font-size: 0.875rem;
}

.about-us__more {
  align-items: center;
  background-color: var(--red-color);
  color: var(--white-color);
  display: flex;
  height: 7.5rem;
  justify-content: center;
  text-transform: capitalize;
  font-weight: bold;
}

.arrow {
  width: 1.125rem;
  height: 0.75rem;
  margin-left: 0.5rem;
}

/*------------------------------------*\
  >=TABLET
\*------------------------------------*/
@media (min-width: 740px) {
  /* MAIN HEADER */
  .main-header {
    padding: 0.9375rem 1.875rem;
  }

  .logo-link {
    width: 14.125rem;
    height: 1.875rem;
  }

  .app-nav {
    width: auto;
    margin: 0;
  }

  .nav-list {
    font-size: 1.125rem;
  }

  .nav-list__item {
    margin-right: 3.125rem;
  }

  .btn__text-start {
    padding: 0.8125rem 2rem;
    font-size: 1.125rem;
  }

  .btn__text-start::after {
    content: "Start Your Agility Experience";
  }

  /* SECTION GAME INTRO */
  .intro-banner__slogan {
    font-size: 3rem;
  }

  .intro-banner__play-icon {
    font-size: 5rem;
    margin-top: 5rem;
  }

  .intro-banner__play-icon:hover {
    opacity: 0.6;
  }

  /* SECTION GAME-PRODUCTS */
  .game-product {
    height: 35vw;
  }

  .game-product__content {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: flex-start;
    padding: 2.5rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .game-product__body:hover .game-product__content {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
  }

  .game-product__title {
    color: rgb(31, 51, 64);
    font-size: 1.125rem;
  }

  .game-product__subtitle {
    margin-top: 0.8125rem;
    color: #f2f2f2;
  }

  .game-product__excerpt {
    color: rgb(31, 51, 64);
    display: block;
    margin-top: 1.75rem;
    font-weight: normal;
  }

  .game-product__more {
    color: var(--red-color);
    display: block;
    margin-top: 1.5rem;
    text-transform: capitalize;
  }

  /* SECTION GAME SERVICE */
  .game-services {
    padding: 4.375rem 0px;
  }

  .service-intro__header {
    font-size: 2.25rem;
  }

  .services-intro {
    padding: 0px 4.375rem 0px 6.25rem;
  }

  .service-intro__desc {
    font-size: 1rem;
    margin-top: 1.5625rem;
  }

  .service-item {
    padding-right: 4.375rem;
  }

  .service-item__image {
    width: 50px;
    height: 50px;
  }

  .service-item__name {
    font-size: 1.5rem;
    margin-left: 1.25rem;
  }

  .service-item__desc {
    margin-left: 4.375rem;
  }

  /* SECTION ABOUT-US */

  .about-us__header {
    height: 34.6875rem;
  }

  .about-us__header-item {
    height: 100%;
  }

  .about-us__body {
    padding: 0.15625rem;
  }

  .about-us__body-item {
    font-size: 1.125rem;
    padding: 0px 3.4375rem;
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
    overflow: auto;
  }

  .about-us__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.875rem;
    line-height: 2.375rem;
    height: 100%;
    text-transform: capitalize;
    text-align: right;
  }

  .about-us__title span {
    text-transform: uppercase;
  }

  .about-us__title :last-child {
    font-weight: bold;
  }

  .process-image {
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
  }

  .process-image img {
    padding: 0;
  }

  .about-us__item {
    border: 0.15625rem solid var(--white-color);
    height: 13.75rem;
  }

  .img-item {
    transform: none;
    margin-right: 1.25rem;
  }

  .about-us__label {
    font-size: 3rem;
  }

  .about-us__info {
    font-size: 1.4375rem;
  }

  .about-us__more {
    border: 0.15625rem solid var(--white-color);
    font-size: 1.5rem;
    height: 13.75rem;
  }

  /* MAIN FOOTER */
  .socials {
    font-size: 0.5rem;
  }

  .address {
    padding-left: 2.1875rem;
  }

  .social-item {
    width: 4.375rem;
    height: 4.375rem;
  }

  .main-footer {
    flex-direction: row;
  }

  /* TESTIMONIALS SECTION */
  .testimonials-slider {
    padding: 4.5rem 0px;
  }

  .testimonial-header {
    margin-bottom: 2rem;
  }

  .testimonial-header__text {
    font-size: 3.5rem;
  }

  .testimonial {
    width: 75%;
  }

  .testimonial__desc {
    line-height: 2.2rem;
    font-size: 1.865rem;
    margin-bottom: 1.625rem;
  }

  .testimonial__ref {
    font-size: 1.3rem;
  }

  .arrow-left,
  .arrow-right {
    width: 2.8125rem;
    height: 2.8125rem;
  }

  .indicator {
    margin-top: 2rem;
  }

  /* SECTION GAME FEEDBACK */
  .game-feedback {
    padding: 4.2rem 0;
    margin-top: 0.3125rem;
  }

  .game-feedback__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .game-feedback__header {
    display: block;
    font-size: 1.63rem;
    margin-bottom: 1.7rem;
  }

  .game-feedback__btn {
    border: 0.125rem solid var(--white-color);
    width: auto;
    font-size: 1.1rem;
    font-weight: inherit;
    padding: 1.625rem 1.82rem;
  }
}

/*------------------------------------*\
  >=DESKTOP
\*------------------------------------*/
@media (min-width: 1024px) {
  .game-product {
    height: 20vw;
  }
}
