.form-wrapper {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.field-group,
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  text-align: start;
}

.enable-edit {
  position: absolute;
  right: 2rem;
}
