
.display-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-img img {
  filter: grayscale(100%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  scale: 0.8;
  opacity: 0.5;
}

.user-name, .user-role {
  padding: 5px;
  display: none;
}

.user.active .user-name, .user.active .user-role {
  display: block;
}

.user.active .user-img img{
  scale: 100%;
  filter: none;
  opacity: 1;
}
