@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

:root {
  --dark-purple-color: #788cde;
  --dark-gray-color: #1c1c1c;
  --light-white-color: #fff;
  --theme-color-button-focus: #d2d6e9;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: var(--theme-color-button-focus);
  color: var(--dark-gray-color);
}
