.task-container {
  background-image: url(../../assets/images/taskcontainer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 100%;
  border-radius: 0.3rem;
}

.task-detail {
  margin-top: 0.2rem;
}

.task-detail p {
  margin-bottom: 0rem;
  vertical-align: middle;
}

.task-list {
  margin-top: 3rem;
}