<form class="m-4">
  <div class="mb-3">
    <label for="search-input" class="form-label">words</label>
    <input type="text" class="form-control" id="search-input" placeholder="Enter your words" name="q">
    <input type="number" name="age">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
