.btn {
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.03rem;
  padding: 0.75rem 2.125rem;
}

.btn:hover{ 
  opacity: 0.8;
}

.btn-default {
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: var(--dark);
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--danger);
  border: 1px solid var(--danger);
  color: var(--white);
}
