.form-wrapper, .form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field-group, .form {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

.form-select {
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
  outline: none;
  padding: 0.5rem;
  text-indent: 0.25rem;
  background: var(--light-gray);
  border: 1px solid var(--light-gray);
}
