/*------------------------------------*\
# TEXT
\*------------------------------------*/
.text {
  letter-spacing: 0.04rem;
}

.text-primary {
  color: var(--dark-green-color);
  font-size: 14px;
}

.text-secondary {
  color: var(--light-gray-color);
  font-size: 16px;
}

.text-outline {
  color: var(--light-gray-color);
  font-size: 12px;
  text-transform: uppercase;
}

/*------------------------------------*\
# TITLE
\*------------------------------------*/
.title {
  color: var(--dark-green-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

/*------------------------------------*\
# CAPTION
\*------------------------------------*/
.caption {
  color: var(--dark-green-color);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01rem;
}
