<html>
  <head>
    <title>Node.js practice</title>
  </head>
  <body>
    <header>
      {{>header}}
    </header>

    <h1>{{{body}}}</h1>

    <footer>
      {{>footer}}
    </footer>
  </body>
</html>
