.main-content {
  width: 300px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item > div {
  display: flex;
  align-items: flex-end;
}

.item .notification {
  color: red;
}

.info-email,
.info-username,
.info-pwd,
.info-cpwd {
  flex-direction: column;
}
